/* Reset geral para garantir que todos os elementos tenham uma base consistente */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Corpo da página */
body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  padding-top: 80px; /* Compensa a altura do cabeçalho fixo */
}

/* Cabeçalho */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: transparent;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: padding 0.3s, background-color 0.3s, height 0.3s;
  height: 100px; /* Altura inicial do cabeçalho */
}

header.shrink {
  padding: 15px 40px;
  height: 70px; /* Altura reduzida do cabeçalho */
  background-color: transparent;
}

header.shrink .logo-container img {
  max-width: 120px; /* Reduz o tamanho da logo */
}

header.shrink nav .btn {
  font-size: 14px;
  padding: 8px 15px;
}

header .logo-container img {
  max-width: 150px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

header .logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header .logo-container:hover img {
  transform: scale(1.1);
}

nav {
  display: flex;
  gap: 15px;
  z-index: 10;
}

nav .btn {
  font-size: 16px;
  color: white;
  background: #3498db;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

nav .btn:hover {
  background: #2980b9;
}

/* Responsividade do cabeçalho */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav {
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .btn {
    width: 80%;
    text-align: center;
  }
}

/* Seção de Contato */
.section-contact {
  padding: 50px 20px;
  background-color: transparent;
  margin-top: 60px; /* Para compensar o cabeçalho fixo */
}

/* Contêiner para o texto e o formulário lado a lado */
.contact-container {
  display: flex;
  gap: 40px; /* Espaço entre o texto e o formulário */
  justify-content: space-between;
  align-items: flex-start;
}

/* Estilos para o texto */
.contact-text {
  flex: 1;
  max-width: 45%; /* Para garantir que o texto ocupe um espaço controlado */
}

.contact-text h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #2980b9;
  margin-bottom: 20px;
}

.contact-text p {
  font-size: 1.2rem;
  color: #fff;
}

/* Estilos para o formulário */
.contact-form {
  flex: 1;
  max-width: 45%;
}

.contact-form h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2980b9;
  margin-bottom: 20px;
}

.contact-form label {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 5px;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  font-size: 16px;
  color: white;
  background: #3498db;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.contact-form button:hover {
  background: #2980b9;
}

/* Responsividade */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-text,
  .contact-form {
    max-width: 100%;
  }
}

/* Carrossel */
.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 600%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 16.666%;
  flex: 1;
}

.slide img {
  width: 100%;
  height: auto;
}

.nav-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.nav-buttons input {
  display: none;
}

.nav-buttons label {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

input:checked + label {
  background-color: #333;
}

/* Título da seção */
.section-header.title-section {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: var(--vitrine_tipo_titulo);
  text-align: center;
  color: var(--vitrine_cor_titulo);
}

h2 {
  color: #2980b9;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
